.tickets {
  font-family: 'Roboto';
  margin: 15px 70px;

  .ticket {
    background-color: #F7BEBE;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    position: relative;

    .ticket_border--dotted {
      border: dotted 1px black;
      margin: 14px;
    }

    .ticket__number {
      font-size: 19px;
      font-weight: bold;
    }

    .ticket__position--bottom {
      bottom: -10px
    }

    .ticket__position--left {
      left: -10px
    }

    .ticket__position--right {
      right: -10px
    }

    .ticket__position--top {
      top: -10px
    }

    .ticket__position--top,
    .ticket__position--bottom,
    .ticket__position--left,
    .ticket__position--right {
      background-color: #FFF;
      border-radius: 100%;
      height: 20px;
      position: absolute;
      width: 20px;
    }

    .ticket__text {
      font-size: 23px;
      height: 120px;
      line-height: 36px;
      padding-top: 5px;
      text-align: center;
      width: 200px;
    }
  }
}